<%- include ../header %>
<%- include ex_nav %>
<div class="bs_container" id="bs_examone_container">
	<div class="bs_one_block bs_examone_block">
		<% if(oneexam[0] == null) {%>
		<div class="bs_one_blcok_title bs_examone_block_title">
			<p class="bs_examone_block_title_p1">no page sorry, why you be here, have you find I am a hacker now? ^_^ </p>
		</div>
		<% }  else {%>
		<div class="bs_one_block_title bs_examone_block_title">
			<p class="bs_examone_block_title_p1"><%=oneexam[0].title %></p>
			<span class="bs_examone_block_title_span1"><%=oneexam[0].uploadtime %></span>
			<% if (oneexam[0].article_type  == 0) {%>
				<a href="/examinee/list/0" class="bs_examone_block_title_a">SCHEDULE</a>
			<% } else {%>
				<% if (oneexam[0].article_type == 1) {%>
					<a href="/examinee/list/1" class="bs_examone_block_title_a">PAPER</a>
				<% } else {%>
					<a href="/examinee/list/2" class="bs_examone_block_title_a">EXPERIENCE</a>
				<%}%>
			<%}%>
		</div>
		<div class="bs_one_block_content bs_examone_block_content">
			<%-oneexam[0].content%>
		</div>
		<%}%>
	</div>
</div>
<%- include ../footer %>