<%- include ../header %>
<%- include ex_nav %>
<div class="bs_container" id="bs_container_list">
	<div class="bs_one_block bs_exam_block">
		<div class="bs_one_block_title bs_exam_block_title">
			<% if(typeid == "0") {%>
			<p id="list_0">SCHEDULE</p>
			<% } else {%>
				<% if(typeid == "1") {%>
					<p id="list_1">PAPER</p>
				<% } else {%>
					<% if(typeid == "2") {%>
						<p id="list_2">EXPERIENCE</p>
					<% } else {%>
						<p id="list_3">LINKS</p>
					<% } %>
				<% } %>
			<% } %>
		</div>
		<div class="bs_one_block_content bs_exam_block_content">
			<ul class="bs_one_block_ul">
				<% oneexam.forEach(function(an_exam,index){ %>
				<li><a href="/examinee/ex_page/<%=an_exam.id%>"><%=an_exam.title%></a></li>
				<% })%>
			</ul>
		</div>
		<div class="bs_one_block_foot">
			<input type="button" class="bs_input_button bs_list_more" value="see more">
		</div>
	</div>
</div>
<script type="text/javascript">
seajs.use("/javascripts/examinee/src/listmore.js");
</script>
<%- include ../footer %>