<%- include header %>
<%- include nav %>
<div class="bs_container" id="bs_con_clock">
	<div class="bs_one_block bs_plan_block_top">
		<div class="bs_one_block_title bs_plan_block_title">
			<p><a href="/addplan" ><input type="button" class="bs_input_button bs_plan_b" value="ADD PLAN"></a></p>
			<div class="clear"></div>
		</div>
		<div class="bs_one_block_content bs_plan_block_content">

		</div>
		<div class="bs_one_block_foot"></div>
	</div>

	<!-- plan block -->
	<% plan_post.forEach(function(oneplan,index) {%>
		<div class="bs_one_block bs_plan_block" id="plan_<%=oneplan.plan_id %>_<%=oneplan.user_id%>">
			<div class="bs_one_block_title bs_plan_block_title">
				<a href="/user/<%=oneplan.user_id%>"><p class="bs_plan_block_p"><%=oneplan.username %></p></a>
			</div>
			<div class="bs_one_block_content bs_plan_block_content">
				<div class="bs_plan_block_content_show">
					<%-oneplan.plan %>
				</div>
				<div class="bs_plan_block_content_time">
					<div class="bs_time_begin"><%=oneplan.plan_begin%></div>
					<span>----</span>
					<div class="bs_time_end"><%=oneplan.plan_end%></div>
					<div class="clear"></div>
				</div>
				<input type="button" class="bs_input_button bs_plan_care"  <% if(oneplan.is_care) {%> disabled="disabled" value="tracking"<%} else {%> value="follow" <%}%>>
				<div class="clear"></div>
				<% if(oneplan.care_list.length !=0) {%>
					<div class="bs_plan_block_content_carelist">
						<!-- id_username -->
						<% oneplan.carelist_show.forEach(function(onecare,index_2){ %>
							<% if(onecare!="") {%>
							<a href="/user/<%=onecare.split('_')[0]%>">@<%=onecare.split('_')[1]%></a>
							<%}%>
						<%}) %>
						<div class="clear"></div>
					</div>
				<% } else {%>
					<div class="bs_plan_block_content_carelist">
						
						<div class="clear"></div>
					</div>
				<% }%>
			</div>
		</div>
	<% })%>
	<!-- end plan block -->	
</div>
<script type="text/javascript">
	seajs.use("/javascripts/plan/src/plan");
</script>
<%- include footer %>